﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_WithoutNavigationbar.cshtml";
}
<link href="~/Content/Custom.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>Welcome to the Demo Store</h1>
    <p class="lead">
        Klarna connects millions of shoppers and retailers around the world by offering flexible ways to pay. It’s the easiest way for business owners to increase conversion, average order value, and customer satisfaction. Select a payment method and country to get started.
    </p>
    <div class="row margin-bottom-15 padding-left-16 " style="cursor: pointer">
        <div class="col-sm-4 col-md-5 col-lg-4 select">
            <label style="color: #c3c0c0;">Country</label>
            <br />
            @Html.DropDownList("ddlContries", AppOnPayNowAndBuyLater.Helpers.DropDownHelpers.GetCoutries(),null, new { @class = "select__field" })
        </div>
    </div>
    <div class="row margin-bottom-15 padding-left-16 " style="cursor: pointer">
        <div class="col-sm-4 col-md-5 col-lg-4 select">
            <label style="color: #c3c0c0;">Payment</label>
            <br />
            @Html.DropDownList("ddlPayments", AppOnPayNowAndBuyLater.Helpers.DropDownHelpers.GetPaymentTypes(), null, new { @class = "select__field" })
        </div>

    </div>
    <div class="row margin-bottom-15 ">
        <div class="col-sm-4 col-md-5 col-lg-4 ">
            <input type="button" value="Start Demo" class="btn-submit" />
        </div>
    </div>
</div>
