﻿
body {
    font-family: Lucida Sans;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.select {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin-bottom: 1em;
    border-style: solid;
    border-color: #d0cbcb;
    border-radius: 5px;
    cursor: pointer;
}

    .select:after {
        content: "▼";
        position: absolute;
        top: 35px;
        left: 281px;
    }

    .select:hover {
        border-color: #000000;
        -webkit-transition: .5s;
    }

.select__field {
    height: 40px;
    width: 100%;
    /*padding: 5px 15px;*/
    color: #616263;
    background-color: #ececec;
    border: 1px solid #eeeeee;
    outline: none;
    font-size: 16px;
    -webkit-appearance: none;
    /* for webkit browsers */
    -moz-appearance: none;
    /* for firefox */
    appearance: none;
    cursor: pointer;
    /* for modern browsers */
}


    /* remove default caret for ie */

    .select__field::-ms-expand {
        display: none;
    }

    .select__field:focus:invalid {
        border-color: #FD6347;
    }

    .select__field:required:valid {
        border-color: #006400;
    }

.padding-left-16 {
    padding-left: 16px;
}

.btn-submit {
    color: #fff;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    background: #000000;
    width: 100%;
    border: none;
    border-radius: 3px;
}
